*{
    box-sizing: border-box;
    margin: 0;
}

header{
    z-index: 2;
    background-color: #0f93fe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    height: 75px;
    position: fixed;
    /* display: none; */
}
.menu{
    display: none;
}

.header-pop{
    display: none;
}

.tag{
    width: 20%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tag:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

.tag img{
    margin-right: 10px;
}

header nav{
    /* background-color: black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.profile_dropdown{
    /* background-color: black; */
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}
.profile{
    /* background-color: black; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-out 0.5s;
    /* justify-content: space-between; */

}
.profile:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.profile svg{
    /* display: none; */
    /* width: 13%;
    height: 10%; */
    width: 6%;
    height: 10%;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    fill: #0f93fe;
}

header nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

header nav ul a{
    color: white;
    text-decoration: none;
    transition: 0.5s ease;

}

header nav ul a:hover{
    color: #deff4f;
}

.book-now:hover{
    color: white;
}

.book-now{
    font-size: 25px;
    color: #deff4f;
    transition: 0.5s ease;

}








.faq-top{
    color: white;
    background-color: #0f93fe;
    display: flex;
    /* padding-top: 90px; */
    /* align-items: center; */
    justify-content: space-between;
    padding: 220px 400px 100px 400px;

}

.faq-top-left{
    width: 40%;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    /* text-align: left; */
}
.faq-top-left h1{
    /* color: #deff4f; */
    font-size: 55px;
}

.faq-top-left p{
    width: 50%;
    color: #deff4f;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 100;
    padding-top: 40px;
}

.faq-top-right{
    /* background-color:aqua ; */
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

}

.faq-top-right-up{
    display: flex;
    flex-direction: column;

}

.qq{
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    padding-bottom: 20px;

}

.qqq{
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 22px;
    /* justify-content: space-between; */
    /* padding-right: 260px; */
}

.ctrl1{
    margin-right: 30px;
}



.qq svg{
    fill: white;
    width: 10%;
    height: 28px;
}

.faq{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: 0.8s ease;
}

.faq:hover{
    cursor: pointer;
}
.ctrl1:hover{
    cursor: pointer;
}
.ctrl2:hover{
    cursor: pointer;
}

.www{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.xxx{
    letter-spacing: 1.2px;
    font-size: 15px;
    font-weight: 100;
}

.set-yellow{
    color: #deff4f;
    font-weight: 600;
}

.hide{
    display: none;
}

.www svg{
    fill: white;
    width: 5%;
    /* transform: rotate(180deg); */
}

.upside{
    transform: rotate(180deg);

}
.logos{
    /* background-color: #fff; */
    /* width: 17px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 65px 35px 0px;
}
.logos svg{
    height: 100%;
    fill: white;
    color: white;
    width: 28%;
}


hr{
   border: none;
   border-top: 1px solid #deff4f;
}







.faq-bottom{
    color: #0f93fe;
    display: flex;
    justify-content: space-between;
    padding: 80px 280px;
}

.faq-bottom-left{
    width: 40%;
}

.faq-bottom-left h1{
    font-size: 45px;
    padding-bottom: 50px;
}

.faq-bottom-left p{
    font-size: 19px;
    letter-spacing: 1.15px;
}

.faq-bottom-right{
    width: 40%;

}

.right-item{
    padding-bottom: 85px;
}

.right-item h2{
    font-weight: 500;
    padding-bottom: 25px;
}

.right-item p{
    letter-spacing: 1.15px;
    font-size: 16px;
}




.active-anchor{
    color: #deff4f;
    font-weight: 600;
}





footer{
    background-color: #0f93fe;
    display: flex;
    padding: 150px 300px;
    color: white;
    /* align-items: center; */
    justify-content: space-between;
    /* display: none; */
}

footer p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}
.footer-hr{
    width: 30%;
}
.footer-left{
    width: 28%;
}
.footer-left h1{
    margin-bottom: 60px;
}

.footer-right{
    /* background-color: #deff4f; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.rleft{
    width: 40%;

}
.rleft h2{
    margin-bottom: 25px;
}

.rp{
    /* margin-top: 80px; */
}

.rright h2{
    margin-top: -15px;
    margin-bottom: 25px;

}
.rright{
    width: 40%;

}
.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}




@media screen and (max-width:576px) {


    body{
        width: 100%;
    }

    .profile{
        display: none;
    }
    
    header ul a{
        display: none;
    }
    
    .book-now{
        display: block;
        /* width: 0%; */
        /* background-color: black; */
        font-size: 20px;
        padding-right: 10px;
        /* text-align: right; */
        margin-right: -35px;
    }
    nav{
        display: none;
        /* padding: 0; */
    }
    
    header{
        z-index: 2;
        background-color: #0f93fe;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
        color: white;
        height: 75px;
        position: relative;
    }
    
    .tag{
        width: 70%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        /* background-color: black; */
        /* justify-content: space-between; */
    }
    .tag img{
        height: 40px;
    }
    
    .tag h2{
        font-size: 16px;
    }


    .header-pop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0f93fe;
        /* display: flex; */
        display: none;
        flex-direction: column;
        /* justify-content: center; */
        padding-top: 120px;
        align-items: center;
        z-index: 9;
        color: white;
        overflow-y: hidden;
        
    }
    
    .header-pop.show-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    
    
    .profile-pop{
        /* background-color: black; */
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        padding-left: 60px;
        padding-bottom: 20px;
        transition: transform ease-out 0.5s;
        margin: 0px;
        position: relative;
        bottom: 60px;
        /* justify-content: space-between; */
    
    }
    
    .profile-pop p{
        font-size: 22px;
        margin-right: 120px; 

    }
    
    
    
    .profile-pop .svg1{
        /* display: none; */
        /* width: 13%;
        height: 10%; */
        /* width: 10%;
        height: 90%; */
        width: 50px;
        height: 45px;
        margin-right: 20px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 2px;
        background-color: white;
        fill: #0f93fe;
    }
    
    .profile-pop .svg2{
        /* margin-left: 140px;  */
        background-color: white; 
        fill: rgb(90, 88, 88);
       
    }
    
    
    .ul-pop{
        /* background-color: black; */
        text-align: left;
    
        width: 80%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* padding: 20px; */
        color: white;
        z-index: 10;
        /* padding-left: 80px; */
        list-style: none;
    
    }
    
    .ul-pop a{
    
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none; 
        padding-bottom: 50px;
        font-size: 26px;
    }

    .menu{
        display: block;
        fill: gray;
        width: 50%;
    }
    














    .faq-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 20px 100px 20px;
    
    }

    .faq-top-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        /* justify-content: center; */
        /* text-align: left; */
    }

    .faq-top-left p{
        width: 100%;
        color: #deff4f;
        font-size: 20px;
        letter-spacing: 1.3px;
        font-weight: 100;
        padding-top: 40px;
    }

    .faq-top-right{
        /* background-color:aqua ; */
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    
    }

    .qq{
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 26px;
        padding-bottom: 20px;
    
    }




    .faq-bottom{
        color: #0f93fe;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 80px 20px;
    }

    .faq-bottom-left{
        width: 100%;
    }


    .faq-bottom-right{
        width: 100%;
    
    }


    .logos{
        /* background-color: #fff; */
        /* width: 17px; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 65px 35px 0px;
        position: relative;
        /* left: 30px; */
        bottom: 15px;
        right: 42%;
    }
    .logos svg{
        height: 100%;
        fill: white;
        color: white;
        width: 48%;
        /* padding-right: 20px; */
       
    }


    






















    
footer{
    /* display: none; */
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.footer-left{
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.footer-right{
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
}

.rleft{
    /* align-items: center; */
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.rleft h2{
    /* margin-bottom: 25px; */
    font-size: 30px;
    text-transform: uppercase;
}

.rright h2{
    /* margin-bottom: 25px; */
    font-size: 30px;
    text-transform: uppercase;
}

.footer-hr{
    /* text-align: center; */
    width: 100%;
}

.rright{
    width: 100%;
    text-align: center;
}

.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 150px;
    padding-top: 40px;
}



}