*{
    box-sizing: border-box;
    margin: 0;
}

header{
    z-index: 2;
    background-color: #0f93fe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    height: 75px;
    position: fixed;
    /* display: none; */
}

.tag{
    width: 20%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tag:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

.tag img{
    margin-right: 10px;
}

header nav{
    /* background-color: black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.profile_dropdown{
    /* background-color: black; */
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}
.profile{
    /* background-color: black; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-out 0.5s;
    /* justify-content: space-between; */

}
.profile:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.profile svg{
    /* display: none; */
    /* width: 13%;
    height: 10%; */
    width: 6%;
    height: 10%;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    fill: #0f93fe;
}

header nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

header nav ul a{
    color: white;
    text-decoration: none;
}

.book-now{
    font-size: 25px;
    color: #deff4f;
}































footer{
    background-color: #0f93fe;
    display: flex;
    padding: 150px 300px;
    color: white;
    /* align-items: center; */
    justify-content: space-between;
    /* display: none; */
}

footer p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}
.footer-hr{
    width: 30%;
}
.footer-left{
    width: 28%;
}
.footer-left h1{
    margin-bottom: 60px;
}

.footer-right{
    /* background-color: #deff4f; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.rleft{
    width: 40%;

}
.rleft h2{
    margin-bottom: 25px;
}

.rp{
    /* margin-top: 80px; */
}

.rright h2{
    margin-top: -15px;
    margin-bottom: 25px;

}
.rright{
    width: 40%;

}
.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}