*{
    box-sizing: border-box;
    margin: 0;
}

header{
    z-index: 2;
    background-color: #0f93fe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    height: 75px;
    position: fixed;
    /* display: none; */
}

.menu{
    display: none;
}

.header-pop{
    display: none;
}
.tag{
    width: 20%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tag:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

.tag img{
    margin-right: 10px;
}

header nav{
    /* background-color: black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.profile_dropdown{
    /* background-color: black; */
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}
.profile{
    /* background-color: black; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-out 0.5s;
    /* justify-content: space-between; */

}
.profile:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.profile svg{
    /* display: none; */
    /* width: 13%;
    height: 10%; */
    width: 6%;
    height: 10%;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    fill: #0f93fe;
}

header nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

header nav ul a{
    color: white;
    text-decoration: none;
    transition: 0.5s ease;

}

header nav ul a:hover{
    color: #deff4f;
}

.book-now:hover{
    color: white;
}

.book-now{
    font-size: 25px;
    color: #deff4f;
    transition: 0.5s ease;

}



.plan-section{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.plan-texts{
    color: #0f93fe;
    text-align: center;

}

.plan-texts h1{
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 36px;
    font-weight: 800;
}

.plan-texts p{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    letter-spacing: 1.2px;
}


.plans-container{
    /* background-color: aqua; */
    margin: 40px;
    width: 65%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.plan{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    border: 2px solid #0f93fe;
    margin: 20px;
}

.plan-top{
    position: relative;
    border-bottom: 2px solid #0f93fe;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.best-value{
    background-color: #0f93fe;
    padding:6px 8px;
    color: white;
    font-weight: 100;
    font-size: 14px;
    position: absolute;
    top: -20px;
}

.plan-top button{
    width: 90%;
    padding: 15px 10px;
    color: white;
    background-color: #0f93fe;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.8s ease;
}

.plan-top button:hover{
    background-color: rgb(135, 197, 248);

}

.plan-top h2{
    color: #0f93fe;
    text-transform: uppercase;
}
.plan-top h1{
    color: #0f93fe;
    font-size: 90px;
    margin: 20px;
}

.plan-top p{
   font-weight: 100; 
   margin-bottom: 30px;
    
}

.small-p{
    font-size: 14px;
}

.plan-bottom{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 50px 0px;
}

.plan-bottom p{
    font-weight: 100;
}




.aa{
    background-color: #deff4f;
}
.bb{
    background-color: #e7f4ff;
    
}
.cc{
    background-color: #deff4f;

}

li{
    /* background-color: black; */
    list-style: none;
    display: flex;
    align-items: center;
}

li svg{
    width: 15%;
    margin-right: 10px;
    fill: #0f93fe;
    
}












.active-anchor{
    color: #deff4f;
    font-weight: 600;
}







footer{
    background-color: #0f93fe;
    display: flex;
    padding: 150px 300px;
    color: white;
    /* align-items: center; */
    justify-content: space-between;
    /* display: none; */
}

footer p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}
.footer-hr{
    width: 30%;
}
.footer-left{
    width: 28%;
}
.footer-left h1{
    margin-bottom: 60px;
}

.footer-right{
    /* background-color: #deff4f; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.rleft{
    width: 40%;

}
.rleft h2{
    margin-bottom: 25px;
}

.rp{
    /* margin-top: 80px; */
}

.rright h2{
    margin-top: -15px;
    margin-bottom: 25px;

}
.rright{
    width: 40%;

}
.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}






@media screen and (max-width:576px) {


    body{
        width: 100%;
    }

    .profile{
        display: none;
    }
    
    header ul a{
        display: none;
    }
    
    .book-now{
        display: block;
        /* width: 0%; */
        /* background-color: black; */
        font-size: 20px;
        padding-right: 10px;
        /* text-align: right; */
        margin-right: -35px;
    }
    nav{
        display: none;
        /* padding: 0; */
    }
    
    header{
        z-index: 2;
        background-color: #0f93fe;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
        color: white;
        height: 75px;
        position: relative;
    }
    
    .tag{
        width: 70%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        /* background-color: black; */
        /* justify-content: space-between; */
    }
    .tag img{
        height: 40px;
    }
    
    .tag h2{
        font-size: 16px;
    }


    .header-pop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0f93fe;
        /* display: flex; */
        display: none;
        flex-direction: column;
        /* justify-content: center; */
        padding-top: 120px;
        align-items: center;
        z-index: 9;
        color: white;
        overflow-y: hidden;
        
    }
    
    .header-pop.show-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    .profile-pop{
        /* background-color: black; */
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        padding-left: 60px;
        padding-bottom: 20px;
        transition: transform ease-out 0.5s;
        margin: 0px;
        position: relative;
        bottom: 60px;
        /* justify-content: space-between; */
    
    }
    
    .profile-pop p{
        font-size: 22px;
        margin-right: 120px; 

    }
    
    
    
    .profile-pop .svg1{
        /* display: none; */
        /* width: 13%;
        height: 10%; */
        /* width: 10%;
        height: 90%; */
        width: 50px;
        height: 45px;
        margin-right: 20px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 2px;
        background-color: white;
        fill: #0f93fe;
    }
    
    .profile-pop .svg2{
        /* margin-left: 140px;  */
        background-color: white; 
        fill: rgb(90, 88, 88);
       
    }
    
    .ul-pop{
        /* background-color: black; */
        text-align: left;
    
        width: 80%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* padding: 20px; */
        color: white;
        z-index: 10;
        /* padding-left: 80px; */
        list-style: none;
    
    }
    
    .ul-pop a{
    
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none; 
        padding-bottom: 50px;
        font-size: 26px;
    }

    .menu{
        display: block;
        fill: gray;
        width: 50%;
    }
    
    






    .plans-container{
        /* background-color: aqua; */
        margin: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    
    }



    .plan{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        text-align: center;
        border: 2px solid #0f93fe;
        margin: 20px;
    }














    
footer{
    /* display: none; */
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.footer-left{
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.footer-right{
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
}

.rleft{
    /* align-items: center; */
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.rleft h2{
    /* margin-bottom: 25px; */
    font-size: 30px;
    text-transform: uppercase;
}

.rright h2{
    /* margin-bottom: 25px; */
    font-size: 30px;
    text-transform: uppercase;
}

.footer-hr{
    /* text-align: center; */
    width: 100%;
}

.rright{
    width: 100%;
    text-align: center;
}

.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 150px;
    padding-top: 40px;
}



}