*{
    box-sizing: border-box;
    margin: 0;
}

header{
    z-index: 2;
    background-color: #0f93fe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    height: 75px;
    position: fixed;
    /* display: none; */
}

.tag{
    width: 20%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tag:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

.tag img{
    margin-right: 10px;
}

header nav{
    /* background-color: black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.profile_dropdown{
    /* background-color: black; */
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}
.profile{
    /* background-color: black; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-out 0.5s;
    /* justify-content: space-between; */

}
.profile:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.profile svg{
    /* display: none; */
    /* width: 13%;
    height: 10%; */
    width: 6%;
    height: 10%;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    fill: #0f93fe;
}

header nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

header nav ul a{
    color: white;
    text-decoration: none;
    transition: 0.5s ease;

}

header nav ul a:hover{
    color: #deff4f;
}

.book-now:hover{
    color: white;
}

.book-now{
    font-size: 25px;
    color: #deff4f;
    transition: 0.5s ease;

}



.plan-section{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.plan-texts{
    color: #0f93fe;
    text-align: center;

}

.plan-texts h1{
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 36px;
    font-weight: 800;
}

.plan-texts p{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    letter-spacing: 1.2px;
}


.plans-container{
    /* background-color: aqua; */
    margin: 40px;
    width: 65%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.plan{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    border: 2px solid #0f93fe;
    margin: 20px;
}

.plan-top{
    position: relative;
    border-bottom: 2px solid #0f93fe;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.best-value{
    background-color: #0f93fe;
    padding:6px 8px;
    color: white;
    font-weight: 100;
    font-size: 14px;
    position: absolute;
    top: -20px;
}

.plan-top button{
    width: 90%;
    padding: 15px 10px;
    color: white;
    background-color: #0f93fe;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.8s ease;
}

.plan-top button:hover{
    background-color: rgb(135, 197, 248);

}

.plan-top h2{
    color: #0f93fe;
    text-transform: uppercase;
}
.plan-top h1{
    color: #0f93fe;
    font-size: 90px;
    margin: 20px;
}

.plan-top p{
   font-weight: 100; 
   margin-bottom: 30px;
    
}

.small-p{
    font-size: 14px;
}

.plan-bottom{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 50px 0px;
}

.plan-bottom p{
    font-weight: 100;
}




.aa{
    background-color: #deff4f;
}
.bb{
    background-color: #e7f4ff;
    
}
.cc{
    background-color: #deff4f;

}

li{
    /* background-color: black; */
    list-style: none;
    display: flex;
    align-items: center;
}

li svg{
    width: 15%;
    margin-right: 10px;
    fill: #0f93fe;
    
}












.active-anchor{
    color: #deff4f;
    font-weight: 600;
}







footer{
    background-color: #0f93fe;
    display: flex;
    padding: 150px 300px;
    color: white;
    /* align-items: center; */
    justify-content: space-between;
    /* display: none; */
}

footer p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}
.footer-hr{
    width: 30%;
}
.footer-left{
    width: 28%;
}
.footer-left h1{
    margin-bottom: 60px;
}

.footer-right{
    /* background-color: #deff4f; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.rleft{
    width: 40%;

}
.rleft h2{
    margin-bottom: 25px;
}

.rp{
    /* margin-top: 80px; */
}

.rright h2{
    margin-top: -15px;
    margin-bottom: 25px;

}
.rright{
    width: 40%;

}
.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}