
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #080710; */
    background-color: #449ae0a2;
}

header{
    z-index: 2;
    background-color: #0f93fe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    height: 75px;
    position: fixed;
    /* margin-bottom: 120px; */
}

.menu{
    display: none;
}

.header-pop{
    display: none;
}
.tag{
    width: 20%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tag:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

.tag img{
    margin-right: 10px;
}

header nav{
    /* background-color: black; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

header nav .profile{
    /* background-color: black; */
    width: 15%;
    display: flex;
    align-items: center;
    transition: transform ease-out 0.5s;
    /* visibility: hidden; */
    /* justify-content: space-between; */

}
.profile:hover{
    transform: scale(1.1);
    cursor: pointer;
}
header nav .profile svg{
    width: 13%;
    height: 10%;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    fill: #0f93fe;
}

header nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

header nav ul a{
    color: white;
    text-decoration: none;
    transition: 0.5s ease;

}

header nav ul a:hover{
    color: #deff4f;
}

.book-now:hover{
    color: white;
}

.book-now{
    font-size: 25px;
    color: #deff4f;
    transition: 0.5s ease;

}



.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top: 20px;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    /* height: 520px; */
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-top: 160px;
    margin-bottom: 10px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form-container{
    /* position: relative; */
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}




.active-anchor{
    color: #deff4f;
}







footer{
    background-color: #0f93fe;
    display: flex;
    padding: 150px 300px;
    color: white;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
    top: 1080px;
}

footer p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}
.footer-hr{
    width: 30%;
}
.footer-left{
    width: 28%;
}
.footer-left h1{
    margin-bottom: 60px;
}

.footer-right{
    /* background-color: #deff4f; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.rleft{
    width: 40%;

}
.rleft h2{
    margin-bottom: 25px;
}

.rp{
    /* margin-top: 80px; */
}

.rright h2{
    margin-top: -15px;
    margin-bottom: 25px;

}
.rright{
    width: 40%;

}
.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.message{
color: red;
font-size: 13px;
margin-top: 20px;
text-decoration: underline;

}



@media screen and (max-width:576px) {


    body{
        width: 100%;
    }

    .profile{
        display: none;
    }

    .profile p{
        display: none;
        font-size: 14px;
    }

    .profile svg{
        display: none;
        font-size: 14px;
    }
    
    header ul a{
        display: none;
    }
    
    .book-now{
        display: block;
        /* width: 0%; */
        /* background-color: black; */
        font-size: 20px;
        padding-right: 10px;
        /* text-align: right; */
        margin-right: -35px;
    }
    nav{
        display: none;
        /* padding: 0; */
    }
    
    header{
        z-index: 2;
        background-color: #0f93fe;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
        color: white;
        height: 75px;
        position: relative;
    }
    
    .tag{
        width: 70%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        /* background-color: black; */
        /* justify-content: space-between; */
    }
    .tag img{
        height: 40px;
    }
    
    .tag h2{
        font-size: 16px;
    }


    .header-pop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0f93fe;
        /* display: flex; */
        display: none;
        flex-direction: column;
        /* justify-content: center; */
        padding-top: 120px;
        align-items: center;
        z-index: 9;
        color: white;
        overflow-y: hidden;
        
    }
    
    .header-pop.show-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    
    .profile-pop{
        /* background-color: black; */
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        padding-left: 60px;
        padding-bottom: 20px;
        transition: transform ease-out 0.5s;
        margin: 0px;
        position: relative;
        bottom: 60px;
        /* justify-content: space-between; */
    
    }
    
    .profile-pop p{
        font-size: 22px;
        margin-right: 120px; 

    }
    
    
    
    .profile-pop .svg1{
        /* display: none; */
        /* width: 13%;
        height: 10%; */
        /* width: 10%;
        height: 90%; */
        width: 50px;
        height: 45px;
        margin-right: 20px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 2px;
        background-color: white;
        fill: #0f93fe;
    }
    
    .profile-pop .svg2{
        /* margin-left: 140px;  */
        background-color: white; 
        fill: rgb(90, 88, 88);
       
    }
    
    
    .ul-pop{
        /* background-color: black; */
        text-align: left;
    
        width: 80%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* padding: 20px; */
        color: white;
        z-index: 10;
        /* padding-left: 80px; */
        list-style: none;
    
    }
    
    .ul-pop a{
    
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none; 
        padding-bottom: 50px;
        font-size: 26px;
    }

    .menu{
        display: block;
        fill: gray;
        width: 50%;
    }
    
    























    
footer{
    /* display: none; */
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.footer-left{
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.footer-right{
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
}

.rleft{
    /* align-items: center; */
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.rleft h2{
    /* margin-bottom: 25px; */
    font-size: 30px;
    text-transform: uppercase;
}

.rright h2{
    /* margin-bottom: 25px; */
    font-size: 30px;
    text-transform: uppercase;
}

.footer-hr{
    /* text-align: center; */
    width: 100%;
}

.rright{
    width: 100%;
    text-align: center;
}

.logos{
    /* background-color: black; */
    /* margin: 0 20px 20px 20px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 150px;
    padding-top: 40px;
}


}


